* {
    margin: 0;
    padding: 0;
    background-color: black;
}

body {
    min-width: 100%;
}

.topnav {
    overflow: hidden;
    border: 1px solid gray;
    padding-right: 5%;
    padding-left: 5%;
}

.topnav a {
    color: #707070;
    text-align: center;
    padding: 18px 18px;
    text-decoration: none;
    font-size: 13px;
    font-family: sans-serif;
    
}
.nav-right {
  float:right;
}
.nav-left{
  float: left;
}
.topnav a:hover {
    background-color: lightpink;
    color: #707070;
}

.topnav a.active {
    color: #707070;
}

.main-wrapper {
    display: flex;
    justify-content: space-around;
}

.flex-item {
    text-align: center;
}

.main-image {  
    object-fit: scale-down;
    width: 90%;
    height: auto;

}

@media screen and (max-width: 645px){
    * {
        background-color: black;
        flex-flow: column;
        gap: 10px;
    }        
}