@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Source+Code+Pro:wght@500;600&display=swap');

/* __________________GENERAL CSS __________________*/

* {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Source Code Pro', monospace;
}


/* __________________NAV BAR CSS__________________ */

.topnav {
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
    z-index: 10000;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    color: lightpink;
}

.topnav a.active {
    color: black;
}

.topnav-centered a {
    font-size: 20px;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topnav-right {
    float: right;
}

@media screen and (max-width: 845px) {
    .topnav-desktop-display-only {
        display: none;
    }
    .topnav-centered a {
        font-size: 17px;
    }
}


/* _______________BURGER MENU CSS_______________ */

.burger-menu-container {
    display: none;
    cursor: pointer;
    padding: 17px 18px;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 2px;
    background-color: black;
    margin: 5px 0;
    margin-bottom: 10px;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(45deg) translateY(17px) translateX(0);
    transform: rotate(45deg) translateY(17px) translateX(0);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(-45deg) translateY(-17px) translateX(0);
    transform: rotate(-45deg) translateY(-17px) translateX(0);
}

#overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: rgb(255, 255, 255, 0.65); */
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    background-color: rgb(255, 255, 255, 0.65);
    color: black;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: lightpink;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-width: 845px) {
    .burger-menu-container {
        display: inline-block;
    }
}


/* _______________TITLE SPACE CSS_______________ */

.title-space {
    margin: auto;
    width: 60%;
    padding-bottom: 30px;
}

.double-column-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 40px;
    font-size: 21px;
}

.line {
    border: none;
    height: 1px;
    background-color: rgb(173, 173, 173);
    /* Modern Browsers */
}

.fa {
    padding: 10px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: white;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
    background-color: rgb(53, 53, 53);
}

.fa-google {
    background-color: rgb(53, 53, 53);
}


/* __________________BODY CSS __________________ */

body {
    margin: 0;
}

.main-wrapper {
    display: flex;
    justify-content: space-around;
}

.flex-item {
    text-align: center;
}

.main-image {
    object-fit: scale-down;
    width: 50%;
    height: auto;
}

@media screen and (max-width: 845px) {
    .main-wrapper {
        flex-flow: column;
        gap: 20px;
    }
}


/* __________________WORKPAGE___________________ */

body hr {
    margin: auto;
    border: none;
    background-color: rgb(173, 173, 173);
    width: 60%;
    margin-bottom: 30px;
    height: 1px;
}

.work-wrapper {
    display: flex;
}

.column-left {
    width: 50%;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.column-right {
    width: 50%;
    padding: 100px;
    display: flex;
    align-items: center;
    flex-direction: column
}

@media screen and (max-width: 1000px) {
    .work-wrapper {
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .column-left {
        padding: 0px;
        width: 80%;
    }
    .column-right {
        padding: 0px;
        width: 80%;
    }
}

.item {
    background-color: rgb(247, 247, 247);
    height: 350px;
    width: 100%;
    margin-bottom: 70px;
}

.work-unit-container {
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.work-unit-container-item {
    background-color: rgb(247, 247, 247);
    overflow: hidden;
    width: 40%;
}

.work-unit-img {
    background-color: rgb(247, 247, 247);
    object-fit: scale-down;
    width: 80%;
    height: auto;
}

.work-unit-text {
    background-color: rgb(247, 247, 247);
    text-overflow: ellipsis;
}

.work-unit-text p {
    background-color: rgb(247, 247, 247);
}

@media screen and (max-width: 745px) {
    .work-wrapper {
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .column-left {
        padding: 0px;
        width: 80%;
    }
    .column-right {
        padding: 0px;
        width: 80%;
    }
    .hidden {
        display: none;
    }
    .work-unit-container-item {
        width: 70%;
        text-align: center;
    }
}

.shadow {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}