* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 100%;
}

.topnav {
    overflow: hidden;
    border: 1px solid gray;
    padding-right: 100px;
}

.topnav a {
    float: right;
    color: #707070;
    text-align: center;
    padding: 18px 18px;
    text-decoration: none;
    font-size: 13px;
    font-family: sans-serif;
}

.topnav a:hover {
    background-color: lightpink;
    color: #707070;
}

.topnav a.active {
    color: #707070;
}

.row {
    display: flex;
}

.box_left {
    text-align: center;
    flex: 33.33%;
    padding: 100px;
}

.box_right {
    flex: 66.66%;
    padding: 100px;
}

.cover_img {
    width: 100%;
    object-fit: cover;
}

.view_btn {
    background-color: transparent;
    border: 1px solid #757575;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Impact;
    font-size: 22px;
    padding: 13px 30px;
    text-decoration: none;
    margin-top: 15%;
}